@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background-image: url("n1.jpg");
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
}

.btn {
   background: black;
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  color: white;
  font-size: 12px;
  padding: 8px 13px 8px 13px;
  border: solid black 1px;
  text-decoration: none;
}

.btn:hover {
  color: white;
}

input
{
  border-radius: 6px; 
}